
.game-options {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px; /* Set a fixed height for the container */

}

.buttons {
    position: relative;
    height: 200px;
    width: 200px;
    top: 50px;
    
    border-radius: 200px;
    margin: 0 25px; /* Adjusted margin for even spacing 0 is the top and bottom while 25 is right left*/
    border: none;
    cursor: pointer;
}
.buttons-container {
    display: flex;
}

.buttons img {
    position: absolute; /* Position the image absolutely */
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the image takes the full width of the button */
    height: 100%; /* Ensure the image takes the full height of the button */
    border-radius: 200px;
}

.buttons:hover {
    opacity: 0.75;
}

.buttons:active {
    opacity: 0.5;
}

.texts {
    font-size: 60px;
    font-weight: 1000;
    color: gainsboro;
    position: absolute;
    top: 0%;
    margin: 10px 50px;
}

.score-board {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    column-gap: 140px;
    font-size: 30px;
}
.scores-user, .scores-ai {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.scores-user p, .scores-ai p {
    margin: 2px;
}



#msg {
    font-size: 40px;
    justify-content: center;
    display: flex;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    background-color: rgb(37, 37, 37);
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position to center */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#restart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#restart-btn:hover {
    background-color: #45a049;
}